<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id='app'>
<!--  v-model="book" 等价于: :value="book" @input="book=$event.target.value" -->
<!--  v-model遵循数据向下，事件向上的规则 当下拉单选中的值发生改变时book=$event.target.value的值，触发事件时选择的值 -->
<!--    <select v-model="book">-->
    <select :value="book" @input="book=$event.target.value" id="book">
        <option  v-for="item in books" :value="item.name">{{item.name}}</option>
    </select>
    <p>获取到的书: {{book}}</p>
    <br/>
    <p>拿到当前选中的price的值:{{price}}</p>

</div>
</body>
<script src="../../js/vue.js"></script>
<script>

    const app = new Vue({
        el: '#app',
        data: {
            book:'',
            books: [
                {id: 1, name: "百年孤独", price: 100},
                {id: 2, name: "去看你", price: 50},
                {id: 3, name: "白夜行", price: 80},
                {id: 4, name: "简爱", price: 90},
                {id: 5, name: "格林童话", price: 70},
            ],
        },
        methods: {
        },
        computed: {
            price(){
               let bookName=this.book;

            }
        }
    })
</script>
</html>
